*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

#icon {
    width: 80px;
}

nav {
    color: aliceblue;
    margin: 50px 50px 0 50px;
}

#navbarNav{
    justify-content:right ;
}

ul li {
    padding: 20px;
    font-size: 25px;
}

#carouselExampleInterval{
    margin-left: 50px;
    margin-right: 50px;
}



.card-img{
    width: 150px;
}

.card-foot{
    padding-top: 60px;
    font-size: 15px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    padding-bottom: 50px;
}

.text-2 a{
    color: green;
    padding: 10px;
}

.get-touch a {
  color: rgb(73, 173, 73);
  padding: 10px;
  font-size: 20px;
  background-color: rgb(159, 170, 180);
}

.get-touch a:hover{
    color: rgb(236, 183, 84);
}

#foot-text{
    white-space: nowrap;
    text-transform: uppercase;
}

.foot{
    justify-content: space-between;
    margin-left: 30px;
}

.foot-1{
    align-items: center;
}

.foot-2{
    align-items: center;
}
.col-contact{
     display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.navigate  {
    display: flex;
    flex-direction: column;
}

.text-1{
  color: rgb(34, 154, 34);
}

.text-1 i{
    color: white;
}
.navigate h6 {
   padding-top: 5px;
}

#map{
    width: 350px;
    height: 170px;
    margin-right: 60px;
}

/* About us */
.bottom-right {
  position: absolute;
  font-size: 40px;
  font-weight: bolder;
  bottom: 15px;
  right: 100px;
  color: white;
}

.bottom-right span {
    color: rgb(186, 41, 41);
}

#mid{
    width: 80%;
    padding: 90px;
    display: grid;
}
